body {
    background-color: fff;
}

html {
    scroll-behavior: smooth;
  }

.sec-title {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.sec-title-text {
    font-size: 2rem;
}

@media screen and (max-width:800px){

    /* Redimensionamento do carrosel inicial */
    #img-car-1{
        content: url("https://dummyimage.com/1920x1200/d946b7/fff");
    }
    #img-car-2{
        content: url("https://dummyimage.com/1920x1200/465adb/fff");
    }
    #img-car-3{
        content: url("https://dummyimage.com/1920x1200/03dffc/fff");
    }
}

#btn-back-top {
    border-radius: 0px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    border-radius: 0px;
    height: 60px;
    width: 40px;
    background-color: #2c2c2c;
 }
 #btn-back-top:hover {
    background-color:#31beff;
 }
